<div *ngIf="feedbackTag$ | async; let tag">
  <mat-card matRipple>
    <mat-card-header>
      <h2>Feedback tag: <b>{{ tag.tag }}</b></h2>
    </mat-card-header>
    <mat-card-content>
      <h2>Sentences:</h2>
      <p *ngFor="let sentence of tag.sentences"><b>{{ sentence }}</b></p>
      <h2>Full text:</h2>
      <p>{{ tag.fullText }}</p>
      <div *ngIf="tag.originalText">
        <h2>Original text ({{ tag.language }}):</h2>
        <p>{{ tag.originalText }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
